.python-version
*.pyc
src/statistics/graphs/images/*
#src/data/*
tempCodeRunnerFile.py
userdata.csv
ratings.csv
app_ratings.csv
apps.csv
unique_apps.csv
users.csv
kardia_data_five_years.csv
kardia_data_one_year.csv
train_app.tfrecord
test_app.tfrecord
dummy_data.csv
decision_tree.pdf
