.python-version
*.pyc
src/statistics/graphs/images/*
src/statistics/tables/*
src/data/generated/*
src/data/input/*
tempCodeRunnerFile.py
train_app.tfrecord
test_app.tfrecord
dummy_data.csv
decision_tree.pdf
